<div class="phone__box phone">
    <h4>Пользователь</h4>
    <h3>{{data.phone}}</h3>
    <div class="phone__line"></div>
    <ul class="phone__list">
        Правила безопасных сделок
        <li>
            <span>&#8226;</span>
            Храните в тайне почту, данные паспорта и код с карты
        </li>
        <li>
            <span>&#8226;</span> Игнорируйте ссылки на оплату, которые присылает
            собеседник
        </li>

        <li>
            <span>&#8226;</span>

            Никому не говорите коды из смс и пуш-уведомлений
        </li>
    </ul>
</div>
