@mixin inputstyle {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 416px;
    height: 48px;
}
.ad {
}
.ad__items {
    margin-top: 32px;
    & h4 {
        font-family: "Inter";
        font-size: 24px;
        font-weight: 600;
        line-height: 32px;
    }
    & span {
        color: red;
    }
    & p {
        font-family: "Inter";
        font-size: 16px;
        line-height: 24px;
    }
}
.select {
    & p {
        margin-top: 24px;
    }
}

:host ::ng-deep .ad__select {
    @include inputstyle;
    margin-top: 8px;
}
.ad__select{
	@include inputstyle;
    margin-top: 8px;
	border: 1px solid rgba(121, 119, 119, 0.575);
}
.ad__name {
    margin-top: 16px;
    & input {
        margin-top: 8px;
        @include inputstyle;
    }
}
.ad__comment {
    margin-top: 16px;
    & textarea {
        margin-top: 8px;
        width: 832px;
        height: 144px;
    }
}
.ad__address {
    margin-top: 16px;
    & input {
        width: 832px;
        height: 48px;
		
    }
}
// .ad__image {
// 	position: relative;
//     margin-top: 16px;
//     width: 832px;
//     height: 64px;
//     padding-left: 16px;
//     display: flex;
//     justify-content: start;
//     align-items: center;
//     border: 1px solid var(--light-surfaces-border, #e2e8f0);
//     background: var(--light-surfaces-light-50, #f8fafc);

//     & button {
//         margin-right: 16px;

//         display: flex;
//         justify-content: center;
//         align-items: center;
//         padding: 8px 12px;
//         border-radius: 4px;
//         background: var(--light-utility-primary, #3b82f6);
//         color: var(--light-text-inverse-text, #fff);
//     }


// }


.input__file {
	width: 100%;
	height: 100%;
	max-height: 42px;
	max-width: 196px;
	cursor: pointer;
	position: absolute;
	opacity: 0;
	
}
    

.ad__price {
    margin-top: 16px;
    & ui-p-inputNumber {
        width: 305px;
    }
}
.ad__post {
    margin-top: 24px;
    & button {
        padding: 12px;
        color: var(--light-text-inverse-text, #fff);
        font-family: "Inter";
        font-size: 20px;
        line-height: 28px;
        border-radius: 4px;
        background: var(--light-utility-primary, #3b82f6);
    }
}
.ad__info {
    margin-top: 8px;
    max-width: 306px;
    line-height: 20px;
    & p {
        font-size: 14px;
        color: var(--light-text-secondary-text, #64748b);
    }
    & a {
        color: var(--light-text-primary-text, #3b82f6);
    }
}

:host ::ng-deep .ad__img{
	width: 832px;
	margin-top: 16px;
} 

.ad__address-suggest{
	position: absolute;
	z-index: 3;

	& li {
		width: 832px;
		background-color: #fff;
		z-index: 3;
		position: relative;
		padding: 12px 8px;
		font-size: 12px;
		border: 1px solid rgba(0, 0, 0, 0.384);
	}
	
}

.ad__input-button
{
	position: relative;
	width: 100px;
	height: 60px;
}
.ad__input-file{
	width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
  
	
}
.label__row{
	padding: 8px 12px;
	background-color: #3B82F6;
	width: 186px;
    height: 35px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
    // transition: all 0.18s ease-in-out;
    // border: 1px solid #333;
	& p {
		color: #fff;
		font-size: 14px;
		font-family: 'Inter';
	}
}
.ad__images {
	
	width: 832px;
}
.images {
	
}

.images__url {
	width: 100px;
}
.images__name {
	font-size: 16px;
	font-family: 'Inter';
}
.images__size {
	font-size: 16px;
}


.images__box {
	margin-top:16px;
	width: 832px;
	
	
}
.images {
}
.images__label {
	
	display: flex;
	align-items: center;
	height: 59px;
	background-color: #f8f9fa;
	border: 1px solid #dee2e6;
	
	
}
.label__row {
	margin-left: 16px;

	
}
.label__info {
	
}

.images__list {
	border: 1px solid #dee2e6;
	border-top: 0px;
	width: 832px;
	
}
.ad__images{

	padding: 12px 48px;
	
	min-height: 80px;
}
.images__row {
	padding: 8px 0px;
	display:flex;
	justify-content: space-between;
	align-items: center;
}
