<main>
    <div class="item">
        <div class="container">
            <h4 class="item__title">Рекомендации для вас</h4>
            <ul class="item__row">
                <app-card
                    *ngFor="let product of product"
                    [product]="product"
                ></app-card>

                <!-- <li class="card">
                    <a href="card__link">
                        <div class="card__inner">
                            <div class="card__block">
                                <img
                                    src="./assets/img/guitar.png"
                                    alt=""
                                    class="card__img"
                                />
                            </div>

                            <h6 class="card__title">Гитара Fender</h6>
                            <h6 class="card__price">20 000 ₽</h6>
                            <div class="card__address">
                                Москва, Ленинский проспект
                            </div>
                            <div class="card__date">Сегодня 14:12</div>
                        </div>
                    </a>
                </li> -->
            </ul>
        </div>
    </div>
</main>
